# SPDX-FileCopyrightText: : 2017-2023 The PyPSA-Eur Authors
#
# SPDX-License-Identifier: CC0-1.0

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#run
run:
  prefix: 20240513fixsharedresources
  name:
  # - CurrentPolicies
  - KN2045_Bal_v4
  - KN2045_Elec_v4
  - KN2045_H2_v4
  # - KN2045plus_EasyRide
  # - KN2045plus_LowDemand
  # - KN2045minus_WorstCase
  # - KN2045minus_SupplyFocus
  scenarios:
    enable: true
    file: config/scenarios.automated.yaml
  shared_resources: base #stops recalculating
  exclude:
  - existing_heating.csv # specify files which should not be shared between scenarios  
  disable_progressbar: true
  debug_co2_limit: false
  debug_h2deriv_limit: false
  debug_unravel_oilbus: false

iiasa_database:
  db_name: ariadne_intern
  leitmodelle:
    - REMIND-EU v1.1
    - REMod v1.0
    - TIMES PanEU v1.0
    - FORECAST v1.0
    - DEMO v1
  scenarios:
    # - CurrentPolicies
    - Trend
    - 8Gt_Bal_v3
    - 8Gt_Elec_v3
    - 8Gt_H2_v3
  reference_scenario: 8Gt_Bal_v3
  region: Deutschland

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#foresight
foresight: myopic

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#scenario
# Wildcard docs in https://pypsa-eur.readthedocs.io/en/latest/wildcards.html
scenario:
  simpl:
  - ''
  ll:
  - vopt
  clusters:
  - 22
  opts:
  - ''
  sector_opts:
    - none
  planning_horizons:
  - 2020
  - 2025
  - 2030
  - 2035
  - 2040
  - 2045

existing_capacities:
  grouping_years_power: [1895, 1920, 1950, 1955, 1960, 1965, 1970, 1975, 1980, 1985, 1990, 1995, 2000, 2005, 2010, 2015, 2019, 2024, 2029]
  grouping_years_heat: [1980, 1985, 1990, 1995, 2000, 2005, 2010, 2015, 2020] # heat grouping years >= baseyear will be ignored


# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#countries
# Germany plus 12 "Stromnachbarn"
countries: ['AT', 'BE', 'CH', 'CZ', 'DE', 'DK', 'FR', 'GB', 'LU', 'NL', 'NO', 'PL', 'SE']

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#enable
enable:
  retrieve: false # set to false once initial data is retrieved
  retrieve_cutout: false # set to false once initial data is retrieved
clustering:
  focus_weights:
  # 22 nodes: 8 for Germany, 2 each for Denmark and UK, 1 per each of other 10 "Stromnachbarn"
    'DE': 0.3636 # 8/22
    'AT': 0.0455 # 1/22
    'BE': 0.0455
    'CH': 0.0455
    'CZ': 0.0455
    'DK': 0.0909 # 2/22
    'FR': 0.0454
    'GB': 0.0909 # 2/22
    'LU': 0.0454
    'NL': 0.0454
    'NO': 0.0454
    'PL': 0.0454
    'SE': 0.0454
  temporal:
    resolution_sector: 365H

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#co2-budget
co2_budget:
  2020: 0.800 # 20% reduction by 2020
  2025: 0.600
  2030: 0.450 # 55% reduction by 2030 (Ff55)
  2035: 0.250
  2040: 0.100 # goal to be set next year
  2045: 0.050
  2050: 0.000 # climate-neutral by 2050

limits_capacity_min:
    Generator:
      onwind:
        DE:
          2020: 48
          2025: 61
          2030: 115 # Wind-an-Land Law
          2035: 157 # Wind-an-Land Law
          2040: 160 # Wind-an-Land Law
          2045: 160
      offwind:
        DE:
          2020: 7.77
          2025: 8
          2030: 30 # Wind-auf-See Law
          2035: 40 # 40 Wind-auf-See Law
          # assuming at least 1/3 of difference reached in 2040
          2040: 50
          2045: 70 #70 Wind-auf-See Law
      solar:
        DE:
          2020: 59
          # EEG2023; Ziel for 2024: 88 GW and for 2026: 128 GW, 
          # assuming at least 1/3 of difference reached in 2025
          2025: 101 
          2030: 215 # PV strategy
          2035: 309
          2040: 400 # PV strategy
          2045: 400
          # What about the EEG2023 "Strommengenpfad"?

h2_import_max:
  DE:
    2020: 0
    2025: 5
    2030: 20
    2035: 50
    2040: 100
    2045: 150
    2050: 200

wasserstoff_kernnetz:
  enable: false
  reload_locations: false
  divide_pipes: true
  pipes_segment_length: 10

new_decentral_fossil_boiler_ban:
  DE: 2029

coal_generation_ban:
  DE: 2038

nuclear_generation_ban:
  DE: 2022

first_technology_occurrence:
  Link:
    H2 pipeline: 2025
    H2 Electrolysis: 2025
    H2 pipeline retrofitted: 2025

renewable:
  offwind-ac:
    capacity_per_sqkm: 10
  offwind-dc:
    capacity_per_sqkm: 10

costs:
  version: v0.8.1

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#sector
sector:
  district_heating:
    potential: 0.4
    progress:
      2020: 0.0
      2025: 0.15
      2030: 0.3
      2036: 0.45
      2040: 0.6
      2045: 0.8
      2050: 1.0
  central_heat_vent: true
  co2_budget_national: true
  co2_spatial: true
  biomass_spatial: true
  #TBD what to include in config
  #relax so no infeasibility in 2050 with no land transport demand
  min_part_load_fischer_tropsch: 0.
  regional_methanol_demand: true  #set to true if regional CO2 constraints needed
  regional_oil_demand: true  #set to true if regional CO2 constraints needed
  regional_coal_demand: true  #set to true if regional CO2 constraints needed
  gas_network: true
  biogas_upgrading_cc: true
  cluster_heat_buses: true
  # calculated based on ariadne "Stock|Space Heating"
  # and then 2% of buildings renovated per year to reduce their demand by 80%
  reduce_space_heat_exogenously_factor:
    2020: 0.0
    2025: 0.07
    2030: 0.14
    2035: 0.21
    2040: 0.29
    2045: 0.36
    2050: 0.43

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#industry
industry:
  St_primary_fraction:
    2020: 0.6
    2025: 0.55
    2030: 0.5
    2035: 0.45
    2040: 0.4
    2045: 0.35
    2050: 0.3
#HVC primary/recycling based on values used in Neumann et al https://doi.org/10.1016/j.joule.2023.06.016, linearly interpolated between 2020 and 2050
#2020 recycling rates based on Agora https://static.agora-energiewende.de/fileadmin/Projekte/2021/2021_02_EU_CEAP/A-EW_254_Mobilising-circular-economy_study_WEB.pdf
#fractions refer to the total primary HVC production in 2020
#assumes 6.7 Mtplastics produced from recycling in 2020
  HVC_primary_fraction:
    2020: 1.0
    2025: 0.9
    2030: 0.8
    2035: 0.7
    2040: 0.6
    2045: 0.5
    2050: 0.4
  HVC_mechanical_recycling_fraction:
    2020: 0.12
    2025: 0.15
    2030: 0.18
    2035: 0.21
    2040: 0.24
    2045: 0.27
    2050: 0.30
  HVC_chemical_recycling_fraction:
    2020: 0.0
    2025: 0.0
    2030: 0.04
    2035: 0.08
    2040: 0.12
    2045: 0.16
    2050: 0.20


# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#solving
solving:
  runtime: 12h
  mem_mb: 40000 #30000 is OK for 22 nodes, 365H; 140000 for 22 nodes 3H; 400000 for 44 nodes 3H
  options:
    load_shedding: false
  # solver:
  #   options: gurobi-numeric-focus
  # solver_options:
  #   gurobi-default:
  #     NumericFocus: 1
  #     FeasibilityTol: 1.e-4
  #     BarHomogeneous: 1

plotting:
  tech_colors:
    load: "#111100"
    H2 pipeline (Kernnetz): '#6b3161'
    renewable oil: '#c9c9c9'
  countries:
  - all
  - DE
  carriers:
  - electricity
  - heat
  - H2
  - urban central heat
  - urban decentral heat
  - rural heat
  carrier_groups:
    electricity: [AC, low_voltage]

# overwrite in config.default.yaml
powerplants_filter: (DateOut >= 2019 or DateOut != DateOut)

pypsa_eur:
  Bus:
  - AC
  Link:
  - DC
  Generator:
  - onwind
  - offwind-ac
  - offwind-dc
  - solar
  - ror
  StorageUnit:
  - PHS
  - hydro
  Store: []
