# SPDX-FileCopyrightText: : 2017-2023 The PyPSA-Eur Authors
#
# SPDX-License-Identifier: CC0-1.0

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#run
run:
  prefix: 20240715investments
  name:
  # - CurrentPolicies
  - KN2045_Bal_v4
  # - KN2045_Elec_v4
  # - KN2045_H2_v4
  # - KN2045plus_EasyRide
  # - KN2045plus_LowDemand
  # - KN2045minus_WorstCase
  # - KN2045minus_SupplyFocus
  scenarios:
    enable: true
    manual_file: config/scenarios.manual.yaml
    file: config/scenarios.automated.yaml
  shared_resources: 
    policy: base #stops recalculating
    exclude:
      - existing_heating.csv # specify files which should not be shared between scenarios
      - costs
      - retrieve_cost # This is necessary to save retrieve_cost_data_{year}.log in the correct folder
      - industry_sector_ratios
      - build_industry_sector_ratios # This is necessary to save build_industry_sector_ratios_data.log in the correct folder
  disable_progressbar: true
  debug_co2_limit: false
  debug_h2deriv_limit: false
  debug_unravel_oilbus: false

iiasa_database:
  db_name: ariadne2_intern
  leitmodelle:
    general: REMIND-EU v1.1
    buildings: REMod v1.0
    transport: Aladin v1
    industry: FORECAST v1.0
  scenarios:
    - CurrentPolicies
    - KN2045_Elec_v4
    - KN2045_H2_v4
    - KN2045_Bal_v4
    - KN2045plus_EasyRide
    - KN2045plus_LowDemand
    - KN2045minus_WorstCase
    - KN2045minus_SupplyFocus
  reference_scenario: KN2045_Bal_v4
  region: Deutschland

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#foresight
foresight: myopic

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#scenario
# Wildcard docs in https://pypsa-eur.readthedocs.io/en/latest/wildcards.html
scenario:
  simpl:
  - ''
  ll:
  - vopt
  clusters:
  - 22
  opts:
  - ''
  sector_opts:
    - none
  planning_horizons:
  - 2020
  - 2025
  - 2030
  - 2035
  - 2040
  - 2045

existing_capacities:
  grouping_years_power: [1920, 1950, 1955, 1960, 1965, 1970, 1975, 1980, 1985, 1990, 1995, 2000, 2005, 2010, 2015, 2020]
  grouping_years_heat: [1980, 1985, 1990, 1995, 2000, 2005, 2010, 2015, 2019] # heat grouping years >= baseyear will be ignored


# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#countries
# Germany plus 12 "Stromnachbarn"
countries: ['AT', 'BE', 'CH', 'CZ', 'DE', 'DK', 'FR', 'GB', 'LU', 'NL', 'NO', 'PL', 'SE']

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#enable
enable:
  retrieve: false # set to false once initial data is retrieved
  retrieve_cutout: false # set to false once initial data is retrieved
clustering:
  # simplify_network:
  #   to_substations: true
  focus_weights:
  # 22 nodes: 8 for Germany, 2 each for Denmark and UK, 1 per each of other 10 "Stromnachbarn"
    'DE': 0.3636 # 8/22
    'AT': 0.0455 # 1/22
    'BE': 0.0455
    'CH': 0.0455
    'CZ': 0.0455
    'DK': 0.0909 # 2/22
    'FR': 0.0454
    'GB': 0.0909 # 2/22
    'LU': 0.0454
    'NL': 0.0454
    'NO': 0.0454
    'PL': 0.0454
    'SE': 0.0454
  temporal:
    resolution_sector: 365H

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#co2-budget
co2_budget:
  2020: 0.800 # 20% reduction by 2020
  2025: 0.600
  2030: 0.450 # 55% reduction by 2030 (Ff55)
  2035: 0.250
  2040: 0.100 # goal to be set next year
  2045: 0.050
  2050: 0.000 # climate-neutral by 2050

limits_capacity_max:
  Generator:
    onwind:
      DE:
        2020: 54.5
        2025: 69
        2030: 160
        2035: 160
        2040: 160
        2045: 160
    offwind:
      DE:
        2020: 7.8
        2025: 8
        2030: 70
        2035: 70
        2040: 70
        2045: 70
    solar:
      DE:
        2020: 53.7
        2025: 110 # EEG2023; assumes for 2026: 128 GW, assuming a fair share reached by end of 2025
        2030: 400
        2035: 400
        2040: 400
        2045: 400

limits_capacity_min:
    Generator:
      onwind:
        DE:
          2030: 115 # Wind-an-Land Law
          2035: 115 # Wind-an-Land Law
          2040: 115 # Wind-an-Land Law
          2045: 115
      offwind:
        DE:
          2030: 30 # Wind-auf-See Law
          2035: 30 
          2040: 30
          2045: 30 
      solar:
        DE:
          # EEG2023; Ziel for 2024: 88 GW and for 2026: 128 GW, 
          # assuming at least 1/3 of difference reached in 2025
          2025: 101 
          2030: 101 
          2035: 101
          2040: 101 
          2045: 101


# limits_capacity_min:
#     Generator:
#       onwind:
#         DE:
#           2030: 115 # Wind-an-Land Law
#           2035: 157 # Wind-an-Land Law
#           2040: 160 # Wind-an-Land Law
#           2045: 160
#       offwind:
#         DE:
#           2030: 30 # Wind-auf-See Law
#           2035: 40 # 40 Wind-auf-See Law
#           # assuming at least 1/3 of difference reached in 2040
#           2040: 50
#           2045: 70 #70 Wind-auf-See Law
#       solar:
#         DE:
#           # EEG2023; Ziel for 2024: 88 GW and for 2026: 128 GW, 
#           # assuming at least 1/3 of difference reached in 2025
#           2025: 101 
#           2030: 215 # PV strategy
#           2035: 309
#           2040: 400 # PV strategy
#           2045: 400
#           # What about the EEG2023 "Strommengenpfad"?

h2_import_max:
  DE:
    2020: 0
    2025: 5
    2030: 20
    2035: 50
    2040: 100
    2045: 150
    2050: 200

wasserstoff_kernnetz:
  enable: false
  reload_locations: false
  divide_pipes: true
  pipes_segment_length: 10

new_decentral_fossil_boiler_ban:
  DE: 2029

coal_generation_ban:
  DE: 2038

nuclear_generation_ban:
  DE: 2022

first_technology_occurrence:
  Link:
    H2 pipeline: 2025
    H2 Electrolysis: 2025
    H2 pipeline retrofitted: 2025

renewable:
  offwind-ac:
    capacity_per_sqkm: 6
  offwind-dc:
    capacity_per_sqkm: 6

costs:
  horizon: "mean" # "optimist", "pessimist" or "mean"

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#sector
sector:
  solar_thermal: false
  v2g: false
  district_heating:
    potential: 0.4
    progress:
      2020: 0.0
      2025: 0.15
      2030: 0.3
      2036: 0.45
      2040: 0.6
      2045: 0.8
      2050: 1.0
  central_heat_vent: true
  co2_budget_national: true
  co2_spatial: true
  biomass_spatial: true
  #TBD what to include in config
  #relax so no infeasibility in 2050 with no land transport demand
  min_part_load_fischer_tropsch: 0.
  regional_methanol_demand: true  #set to true if regional CO2 constraints needed
  regional_oil_demand: true  #set to true if regional CO2 constraints needed
  regional_coal_demand: true  #set to true if regional CO2 constraints needed
  gas_network: true
  biogas_upgrading_cc: true
  cluster_heat_buses: true
  # calculated based on ariadne "Stock|Space Heating"
  # and then 2% of buildings renovated per year to reduce their demand by 80%
  reduce_space_heat_exogenously_factor:
    2020: 0.0
    2025: 0.07
    2030: 0.14
    2035: 0.21
    2040: 0.29
    2045: 0.36
    2050: 0.43
  land_transport_fuel_cell_share:
    2020: 0.05
    2025: 0.05
    2030: 0.05
    2035: 0.05
    2040: 0.05
    2045: 0.05
    2050: 0.05
  land_transport_electric_share:
    2020: 0.05
    2025: 0.15
    2030: 0.3
    2035: 0.45
    2040: 0.7
    2045: 0.85
    2050: 0.95
  land_transport_ice_share:
    2020: 0.9
    2025: 0.8
    2030: 0.65
    2035: 0.5
    2040: 0.25
    2045: 0.1
    2050: 0.0

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#industry
industry:
  ammonia: false
  St_primary_fraction:
    2020: 0.6
    2025: 0.55
    2030: 0.5
    2035: 0.45
    2040: 0.4
    2045: 0.35
    2050: 0.3
#HVC primary/recycling based on values used in Neumann et al https://doi.org/10.1016/j.joule.2023.06.016, linearly interpolated between 2020 and 2050
#2020 recycling rates based on Agora https://static.agora-energiewende.de/fileadmin/Projekte/2021/2021_02_EU_CEAP/A-EW_254_Mobilising-circular-economy_study_WEB.pdf
#fractions refer to the total primary HVC production in 2020
#assumes 6.7 Mtplastics produced from recycling in 2020
  HVC_primary_fraction:
    2020: 1.0
    2025: 0.9
    2030: 0.8
    2035: 0.7
    2040: 0.6
    2045: 0.5
    2050: 0.4
  HVC_mechanical_recycling_fraction:
    2020: 0.12
    2025: 0.15
    2030: 0.18
    2035: 0.21
    2040: 0.24
    2045: 0.27
    2050: 0.30
  HVC_chemical_recycling_fraction:
    2020: 0.0
    2025: 0.0
    2030: 0.04
    2035: 0.08
    2040: 0.12
    2045: 0.16
    2050: 0.20
  HVC_environment_sequestration_fraction:
    2020: 0.1
    2025: 0.1
    2030: 0.12
    2035: 0.15
    2040: 0.18
    2045: 0.20
    2050: 0.20
  waste_to_energy: true
  waste_to_energy_cc: true

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#solving
solving:
  runtime: 12h
  mem_mb: 70000 #30000 is OK for 22 nodes, 365H; 140000 for 22 nodes 3H; 400000 for 44 nodes 3H
  options:
    assign_all_duals: true
    load_shedding: false
    skip_iterations: true # settings for post-discretization: false
    min_iterations: 1 # settings for post-discretization: 1
    max_iterations: 1 # settings for post-discretization: 1
    post_discretization:
      enable: false
      line_unit_size: 1700
      line_threshold: 0.3
      link_unit_size:
        DC: 2000
        gas pipeline: 1500
        gas pipeline new: 1500
        H2 pipeline: 1200
        H2 pipeline (Kernnetz): 1200
        H2 pipeline retrofitted: 1200
      link_threshold:
        DC: 0.3
        gas pipeline: 0.3
        gas pipeline new: 0.3
        H2 pipeline: 0.3
        H2 pipeline (Kernnetz): 0.3
        H2 pipeline retrofitted: 0.3
  # solver:
  #   options: gurobi-numeric-focus
  # solver_options:
  #   gurobi-default:
  #     NumericFocus: 1
  #     FeasibilityTol: 1.e-4
  #     BarHomogeneous: 1

plotting:
  tech_colors:
    load: "#111100"
    H2 pipeline (Kernnetz): '#6b3161'
    renewable oil: '#c9c9c9'
  countries:
  - all
  - DE
  carriers:
  - electricity
  - heat
  - H2
  - urban central heat
  - urban decentral heat
  - rural heat
  carrier_groups:
    electricity: [AC, low_voltage]

# overwrite in config.default.yaml
#powerplants_filter: (DateOut >= 2019 or DateOut != DateOut)
electricity:
  powerplants_filter: (DateOut >= 2019 or DateOut != DateOut) and not (Country == "DE" and Set == "CHP")
  custom_powerplants: True
  custom_file: resources/german_chp.csv

pypsa_eur:
  Bus:
  - AC
  Link:
  - DC
  Generator:
  - onwind
  - offwind-ac
  - offwind-dc
  - offwind-float
  - solar-hsat
  - solar
  - ror
  StorageUnit:
  - PHS
  - hydro
  Store: []


co2_price_add_on_fossils:
  2020: 25 
  2025: 60
  
must_run_biomass:
  enable: true
  p_min_pu: 0.7 
  regions: ['DE']

